HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
# smtp
# --------------------------
# Gmail SMTP Configuration
# --------------------------
SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USERNAME=no-reply@shreevedafoods.in
SMTP_PASSWORD=Shreebusiness@27
SMTP_FROM=no-reply@shreevedafoods.in
SMTP_REPLY_TO=no-reply@shreevedafoods.in


# PostgreSQL Database Configuration
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=aharasam_dev
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_SCHEMA=public
